#about
  display: flex
  flex-direction: column
  color: $primary-textcolor-light
  background-image: linear-gradient(to right, $purple 0%, $pink 100%)
  background-color: $purple

  .container
    flex-direction: row
    @media (max-width: 900px)
      flex-direction: column
      width: 90%
      margin-top: 20px
      margin-bottom: 20px

.about__img 
    width: 250px
    box-shadow: 25px 25px 0px rgba(0,0,0, .05)
    @media (max-width: 900px)
      box-shadow: 15px 15px 0px rgba(0,0,0, .05)
      margin-bottom: 20px

.about__info
    padding: 4em
    @media (max-width: 900px)
      padding: 20px