.header
  height: 65vh
  color: $primary-textcolor-light
  background-color: $purple
  background-image: url(../images/header-bg.jpg)
  background-size: cover
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
  
  .container
    flex-direction: row
    justify-content: space-between

  nav
    display: flex
    justify-content: space-between
    font-size: 1.5rem
    width: 60%
    ul 
      li 
        display: inline-block
        padding-left: 1em

.hero-text
  width: 60%
  text-shadow: 3px 3px 6px rgba(0,0,0,0.3)

  p
    font-size: 1.6rem

.mockup-img
  height: 800px
  position: relative
  top: 75px

.header-profile-img
  height: 150px
  border-radius: 50%
  border: 2px solid white