.header
  height: 65vh
  color: $primary-textcolor-light
  background-color: $purple
  background-image: url(../images/header-bg.jpg)
  background-size: cover
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)

  nav
    display: flex
    justify-content: space-between
    font-size: 1.5rem

    a
      text-decoration: none
      color: $primary-textcolor-light
      font-weight: 700
      padding-bottom: .8em

    ul 
      li 
        display: inline-block
        margin-right: 1em
        background: $purple
        padding: .5em .8em
        border-radius: 10px
        &:hover
          background: $pink

.hero-text
  width: 60%
  text-shadow: 4px 4px 8px rgba(0,0,0,0.3)

  p
    font-size: 1.3rem
    margin-bottom: 80px

.mockup-img
  height: 800px
  position: relative
  top: 75px

.header-profile-img
  height: 150px
  border-radius: 50%
  border: 2px solid white

h1
  margin-bottom: 0