#projects
  .container
    flex-direction: column

  h2
    align-self: flex-start

.project
  display: flex
  flex-direction: column
  margin-bottom: 40px
  @media (max-width: 900px)
    margin-bottom: 0

  &__info
    width: 80%
    @media (max-width: 1260px)
      padding-left: 0
      margin-top: 24px

  &__preview    
    width: 100%
    margin-bottom: 40px

    @media (max-width: 1260px)
      margin-bottom: 0px
      width: 100%

  &__footer
    display: flex    
    flex-wrap: wrap
    @media (max-width: 900px)
      justify-content: center

  h3
    margin-bottom: 40px

  a 
    flex-basis: 200px
    color: $blue
    border: 2px solid $blue
    padding: 14px 20px
    font-weight: 700
    font-size: 1.2rem
    text-decoration: none
    text-align: center
    margin-right: 24px
    transition: background .3s ease-in-out
    @media (max-width: 900px)
      flex-basis: 100%
      margin: 10px

    &:hover 
      background-color: $purple
      border: 2px solid $purple
      color: #FFF
    &:active
      background-color: $pink
      border: 2px solid $pink
    &:focus
      border: 2px solid $pink
  p 
    margin-bottom: 50px
    @media (max-width: 900px)
      margin-bottom: 24px
  
  @media (max-width: 1260px)
    margin-top: 26px
