.portfolio-item 
  display: flex
  // flex-wrap: wrap
  padding: 1em
  margin-bottom: 3em
  
  
  .project-info 
    padding-left: 5em
    @media (max-width: 1260px)
      padding-left: 0
      margin-top: 24px

  a 
    color: $link-color
    font-weight: 700
    font-size: 1.2rem
    text-decoration: none
    margin-right: 2em
    padding-bottom: .5em
    
    &:hover 
      border-bottom: 4px solid black
  p 
    margin-bottom: 2em
  
  @media (max-width: 1260px)
    flex-direction: column
    margin-top: 26px

#projects
  .container
    flex-direction: column

  h2
    align-self: flex-start

.project-preview 
  width: 35vw
  max-width: 600px
  box-shadow: -25px 25px 0px rgba(0,0,0, .05)

  @media (max-width: 1260px)
    width: 100%