#services
  display: flex
  h2
    align-self: center
    margin-top: 1em
    margin-bottom: 0
  .container
    justify-content: space-around

.service-item
  display: flex
  flex-direction: column
  align-items: center
  width: 40%
  @media (max-width: 900px)
    margin-bottom: 24px
    width: 90%
